In [91]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [92]:
data =pd.read_csv("Churn_Modelling.csv")
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [93]:
data = data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [94]:
gender_label_encoder = LabelEncoder()
data['Gender'] = gender_label_encoder.fit_transform(data['Gender'])

In [95]:
geo_one_hotencoder = OneHotEncoder()
df = geo_one_hotencoder.fit_transform(data[['Geography']]).toarray()
df = pd.DataFrame(df, columns=geo_one_hotencoder.get_feature_names_out(['Geography']))

In [96]:
data = pd.concat([data.drop('Geography', axis=1),df],axis=1 )

In [97]:
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [98]:
X = data.drop(['EstimatedSalary'],axis=1)
y = data['EstimatedSalary']

In [100]:
regression_scaler = StandardScaler()
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)
X_train = regression_scaler.fit_transform(X_train)
X_test = regression_scaler.transform(X_test)

In [ ]:
with open('regression_gender_labelencoder.pkl','wb') as file:
    pickle.dump(gender_label_encoder,file)
with open('regression_geography_onehotencoder.pkl','wb') as file:
    pickle.dump(geo_one_hotencoder,file)
with open('regression_scaler.pkl','wb') as file:
    pickle.dump(regression_scaler,file)